@font-face {
  font-family: "AxiformaBook";
  src: url(/assets/css//assets/css/fonts/AxiformaBook.otf) format("opentype");
}
.AxiformaBook {
    font-family: 'AxiformaBook';
}

@font-face {
  font-family: "AxiformaBookItalic";
  src: url(/assets/css/fonts/AxiformaBookItalic.otf);
}

.AxiformaBook {
    font-family: 'AxiformaBook';
}

@font-face {
  font-family: "AxiformaBlack";
  src: url(/assets/css/fonts/AxiformaBlack.otf);
}

.AxiformaBlack {
    font-family: 'AxiformaBlack';
}

@font-face {
  font-family: "AxiformaBlackItalic";
  src: url(/assets/css/fonts/AxiformaBlackItalic.otf);
  font-weight: Italic;
}

.AxiformaBlackItalic {
    font-family: 'AxiformaBlackItalic';
}


@font-face {
  font-family: "AxiformaItalic";
  src: url(/assets/css/fonts/AxiformaItalic.otf);
  font-weight: Italic;
}

.AxiformaItalic {
    font-family: 'AxiformaItalic';
}

@font-face {
  font-family: "AxiformaThin";
  src: url(/assets/css/fonts/AxiformaThin.otf);
  font-weight: 100;
}

.AxiformaThin {
    font-family: 'AxiformaThin';
}

@font-face {
  font-family: "AxiformaThinItalic";
  src: url(/assets/css/fonts/AxiformaThinItalic.otf);
  font-weight: 100;
  font-style: Italic;
}

.AxiformaThinItalic {
    font-family: 'AxiformaThinItalic';
}

@font-face {
  font-family: "AxiformaLight";
  src: url(/assets/css/fonts/AxiformaLight.otf);
  font-weight: 300;
}

.AxiformaLight {
    font-family: 'AxiformaLight';
}

@font-face {
  font-family: "AxiformaLightItalic";
  src: url(/assets/css/fonts/AxiformaLightItalic.otf);
  font-weight: 300;
  font-style: Italic;
}

.AxiformaLightItalic {
    font-family: 'AxiformaLightItalic';
}

@font-face {
  font-family: "AxiformaRegular";
  src: url(/assets/css/fonts/AxiformaRegular.otf);
  font-weight: 400;
}

.AxiformaRegular {
    font-family: 'AxiformaRegular';
}

@font-face {
  font-family: "AxiformaMedium";
  src: url(/assets/css/fonts/AxiformaMedium.otf);
  font-weight: 500;
}

.AxiformaMedium {
    font-family: 'AxiformaMedium';
}

@font-face {
  font-family: "AxiformaMediumItalic";
  src: url(/assets/css/fonts/AxiformaMediumItalic.otf);
  font-weight: 500;
  font-style: Italic;
}

.AxiformaMediumItalic {
    font-family: 'AxiformaMediumItalic';
}

@font-face {
  font-family: "AxiformaSemiBold";
  src: url(/assets/css/fonts/AxiformaSemiBold.otf);
  font-weight: 600;
  font-style: Italic;
}

.AxiformaSemiBold {
    font-family: 'AxiformaSemiBold';
}

@font-face {
  font-family: "AxiformaBold";
  src: url(/assets/css/fonts/AxiformaBold.otf);
  font-weight: 700;
}

.AxiformaBold {
    font-family: 'AxiformaBold';
}

@font-face {
  font-family: "AxiformaBoldItalic";
  src: url(/assets/css/fonts/AxiformaBoldItalic.otf);
  font-weight: 700;
  font-style: Italic;
}

.AxiformaBoldItalic {
    font-family: 'AxiformaBoldItalic';
}

@font-face {
  font-family: "AxiformaExtraBold";
  src: url(/assets/css/fonts/AxiformaExtraBold.otf);
  font-weight: 800;
}

.AxiformaExtraBold {
    font-family: 'AxiformaExtraBold';
}

@font-face {
  font-family: "AxiformaExtraBoldItalic";
  src: url(/assets/css/fonts/AxiformaExtraBoldItalic.otf);
  font-weight: 800;
  font-style: Italic;
}

.AxiformaExtraBoldItalic {
    font-family: 'AxiformaExtraBoldItalic';
}

@font-face {
  font-family: "AxiformaHeavy";
  src: url(/assets/css/fonts/AxiformaHeavy.otf);
  font-weight: 900;
}

.AxiformaHeavy {
    font-family: 'AxiformaHeavy';
}

@font-face {
  font-family: "AxiformaHeavyItalic";
  src: url(/assets/css/fonts/AxiformaHeavyItalic.otf);
  font-weight: 900;
  font-style: Italic;
}
 
.AxiformaHeavyItalic {
    font-family: 'AxiformaHeavyItalic';
}


