@tailwind base;

@tailwind components;

@tailwind utilities;

.bgPrimaryButton {
  background-color: #274fed;
}
.bgPrimaryColor {
  background-color: #274fed;
}
.text-white {
  color: #ffffff;
}

.text-primary {
  color: #274fed;
}
